# force SQL recognition
*.sql linguist-language=SQL
*.SQL linguist-language=SQL

R/* linguist-documentation=true
*.R linguist-documentation=true

# SQL files are detectable
*.sql linguist-detectable=true
